*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body,#root{
  width: 100%;
  height: 100%;
}

.HomeFontColor{
  color:rgb(61, 37, 121);
  font-size: 130%;
}

.FontNameList{
  color: rgb(146, 129, 235);
}

.home{
  background-color:rgb(219, 205, 255);
}

nav{
  background-color:rgb(219, 205, 255);
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #998e8e; */
}

li{
  float: right;
  display: block;
  text-align: center;
  padding: 50px 16px;
  text-decoration: none;
}

Link{
  color:rgb(61, 37, 121);
}

.footer{
  background-color: rgb(255, 199, 60);
}